[submodule "doc_modules/coreruleset"]
	path = doc_modules/coreruleset
	url = https://github.com/uetsymphonique/coreruleset.git
[submodule "doc_modules/ModSecurity.wiki"]
	path = doc_modules/ModSecurity.wiki
	url = https://github.com/owasp-modsecurity/ModSecurity.wiki.git
[submodule "doc_modules/crs-documentation"]
	path = doc_modules/crs-documentation
	url = https://github.com/coreruleset/documentation.git
